%html
  %head
    %title Psyjs
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body{ class: body_class }
    #container
      %header
        %h1 Psy
      %nav
        %a{ href: "/" } Home
        %a{ href: "/test_ada" } Test ADA
        %a{ href: "/matrici_di_raven" } Matrici di Raven
      %section.content= yield
      
    %script{ type: "text/javascript", src: "/js/jquery.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }